*{
	padding: 0%;
	margin: 0%;
	list-style: none;
	text-decoration: none;
}

body{
	font-family: sans-serif;
}
.top{
	overflow: hidden;
	text-align: center;
    font-size: 16px;
    padding: 20px;
	background-color: rgb(45, 146, 196);
	color: white;
}
.login {
	text-align: center;
	margin-left: 840px;
	color: rgb(45, 146, 196);
}
.login p a{
	color: rgb(45, 146, 196);
	font-weight: bold;
	font-size: 14px;

}

.login p a:hover{
	color: #39b3ff;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color:  rgb(8, 113, 165);
}

.contaner{
	width: 100%;
	height: 100%;

}

nav.ul{
	margin-right: 30px;
}

nav ul li ul li a{
	font-size: 17px;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	display: block;
	padding: 0 15px;
	line-height: 70px;
	font-size: 15px;
	background:rgb(8, 113, 165);
	transition: .5s;
	
	

}

nav ul ul{
	position: absolute;
	top: 320px;
	opacity: 0;
	visibility: hidden;
}

nav ul li:hover > ul{
	top: 320px;
	opacity: 1;
	visibility: visible;

}

nav ul ul li{
	width: 100%;
	display: list-item;
	position: relative;

}

nav ul ul li a{
	line-height: 30px;
	color: rgb(8, 113, 165);
	background: rgb(250, 250, 250);
}

nav ul ul ul{
	border-top: none;
}
nav ul ul ul li{
	position: relative;
	top: -318px;
	right: 100%;	
}

.search input {
	background-color: #0a76bb;
	border: none;
	width: 300px;
	position: absolute;
	height: 44px;
	color: #fff;
	margin-left: 790px;
    padding: 10px 45px 10px 10px;
    font-style: normal;
    font-size: 14px;
	top: 130px;
}

#my-bag-btn{
	background-color: #0a76bb;
	border: none;
	width: 90px;
	height: 44px;
	font-size: 15px ;
	top: 130px;
	margin-left: 1100px;
	position: absolute;
	cursor: pointer;
	color: white;
}

.search input::placeholder{
	color: white;
}

form button{
	top: 130px;
	margin-left: 1000px;
	position: absolute;
	cursor: pointer;
	background-color: #0a76bb;
	border: none;
	width: 90px;
	height: 44px;
}

.cart button{
	background-color: #0a76bb;
	border: none;
	width: 90px;
	height: 44px;
	font-size: 15px ;
	top: 130px;
	margin-left: 1100px;
	position: absolute;
	cursor: pointer;
	color: white;
}

nav ul li a img{
	width: 12px;
}
nav ul ul li img{
	width: 15px;
	transform: rotate(-90deg);
}
.data p{
	font-size: 13px;
	color: #585858;
	margin-left: 170px;
}
hr{
	width: 75%;
	margin-left: 170px;
	color: #a5a2a2;
}
.data img{
   margin-top: 70px;
   margin-left: 170px;
   width: 330px;
}

.rigt-sec{

	margin-left: 500px;
	margin-top: -480px;
}

.rigt-sec #pro-name{
	color: #0a76bb;
	font-size: 18.5px;
	font-weight: bold;
	margin-left: 50px;
}

.rigt-sec h3{
	color: #0a76bb;
	margin-top: 15px;
	margin-left: 50px;
	font-size: x-large;
}

.rigt-sec h4{
	color: rgb(90, 90, 90);
	margin-top: -25px;
	font-size: 19px;
	text-decoration: line-through;
	margin-left: 190px;
}

.rigt-sec .pro p{
    color: #0a76bb;
    font-size: 17px;
    border: 2px solid #0a76bb;
    border-radius: 3px;
    width: 157px;
    margin-left: 313px;
    margin-top: -30px;
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
}

.rigt-sec p{
	font-size: 16px;
	margin-left: 50px;
}

.rigt-sec #decc{
	padding: 17px 5px;
	margin-left: 0px;
	margin-top: 10px;
	background-color: #fff;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 3px;
	cursor: pointer;
}

.rigt-sec #decc:hover{
	background-color: rgb(219, 219, 219);
}

.rigt-sec #change{
	margin-left: 97px;
	margin-top: -34px;
	font-size: 16px;
}

.rigt-sec ul{
	line-height: 27px;
	font-size: 14px;
	margin-left: 50px;
	margin-top: 45px;
}

.rigt-sec #incc{
    padding: 17px 3.5px;
    margin-left: 62px;
	background-color: #fff;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 3px;
	cursor: pointer;
}

.rigt-sec #incc:hover{
	background-color: rgb(219, 219, 219);
}

.addToCart{

	color: #0a76bb;
    font-size: 15px;
    border: 2px solid #0a76bb;
    border-radius: 3px;
    padding: 14px 22px;
    margin-left: 50px;
    text-align: center;
    line-height: 30px;
	font-weight: bold;
	cursor: pointer;
}

.addToCart:hover{
	border: 2px solid #096299;
}
.rigt-sec a img{

	margin-top: 50px;
	width: 23px;
	margin-left: 0px;
}

.rigt-sec #buy{

	color: #ffffff;
	background-color: #0a76bb;
    font-size: 15px;
    border-radius: 3px;
    padding: 14px 48px;
    margin-left: 50px;
    text-align: center;
    line-height: 30px;
	font-weight: bold;
	cursor: pointer;
}

.rigt-sec #buy:hover{
	background-color: #086aa7;
}

.rigt-sec hr{
	margin-top: 70px;
	margin-left: 45px;
}


		/*---FOOTER SECTION--*/


.footer{
	overflow: hidden;
    padding: 160px;
	padding-bottom: 160px;
	padding-top: 150px;
	margin-top: 90px;
	background-color: rgb(240, 240, 240);
}

.footer h4{
	color: #5e5e5e;
	margin-top: -85px;
	margin-bottom: 20px;
}
.footer ul li a{
	color: #868686;
}
.footer ul li a:hover{
	color: #474747;
}
.footer ul li {
	color: #868686;
	line-height: 25px;
	font-size: 15px;
}

.ft-2 h4{

	margin-top: -162px;
}
.ft-2{
	margin-left: 200px;
	
}
.ft-2 ul li {
	line-height: 30px;
}

.ft-3 h4{

	margin-top: -186px;
}
.ft-3{
	margin-left: 515px;
	
}
.ft-3 p{
	color: #868686;
	font-size: 15px;
}